:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7D;
    --white: #FFF;
    --light-grey: #9F9F9F;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menubox {
    position: relative;
}

.header__navigation {
    display: none;
    position: absolute;
    min-width: 232px;
    min-height: 764px;
    background-color: #FFF;
    padding: 7px 33px;
}

.header__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin-bottom: 24px;
}

.navigation-item__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--dark-pink);
    margin-bottom: 12px;
}

.navigation-item__sub-item-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-grey);
}

.navigation-item__sub-list {
    margin-top: 12px;
    margin-bottom: 20px;
}

.nav__cmd {
    display: flex;
    justify-content: flex-end;
    padding: 13px 0px;
}

.header-nav__close-button {
    width: 16px;
    height: 16px;
    outline: none;
    border: none;
    background-color: transparent;
}

.navigation-item__sub-item {
    margin-left: 21px;
    margin-bottom: 12px;
}

.header__button:hover ~ .header__navigation {
    display: block;
}

.header__logo {
    margin: 0 41px 0 0;
    
}

.header-nav__close-button, .subscribe__form-button--subscribe, .header__logo, .header__search, .products__item-button--add-to-cart, .header__button, .header__link, .products__browse-button {
    cursor: pointer;
}

.header__logo:hover, .subscribe__form-button--subscribe:hover, .footer__item:hover, .header__search:hover, .header__button:hover, .header__link:hover,
 .categories__item:hover, .products__item-button--add-to-cart:hover, .products__browse-button:hover {
    opacity: 0.8;
}

.products__item:hover  .products__item-img--mask {
    display: flex;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 34px;
}

.promo {
    display: flex;
    margin: 0 0 63px;
}

.promo__heading-wrapper {
    background-color: var(--pink);
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding: 0 0 0 92px;
}

.promo__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.promo__sub-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.promo__sub-heading-pink {
    color: var(--dark-pink);
}

.categories__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories__item--women {
    background-image: url(../img/categories-women.jpg);
}

.categories__item--men {
    background-image: url(../img/categories-men.jpg);
}

.categories__item--kids {
    background-image: url(../img/categories-kids.jpg);
}

.categories__item--accessories {
    margin-top: 30px;
    background-image: url(../img/categories-accesories.jpg);
}

.categories__item--accessories {
    width: 100%;
    min-height: 180px;
}

.categories__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
}

.categories__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.products {
    margin-top: 96px;
    text-align: center;
}

.products__heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--dark-blue);
}

.products__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--light-grey);
}

.products__list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    width: 360px;
    min-height: 580px;
    position: relative;
    text-align: left;
}

.products__item-heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin-top: 25px;
}

.products__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-grey);
    margin-top: 13px;
}

.products__item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
    margin-top: 18px;
    margin-bottom: 20px;
}

.products__item-img--mask {
    position: absolute;
    width: 360px;
    height: 420px;
    z-index: 999;
    background-color: #9f9f9fed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
}

.products__item-button--add-to-cart {
    width: 139px;
    height: 44px;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products__browse-button {
    width: 212px;
    height: 48px;
    border: 1px solid var(--dark-pink);
    color: var(--dark-pink);
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
    text-align: center;
    margin-top: 48px;
}

.services {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    min-height: 340px;
}

.services__item {
    margin: 0px 15px;
    flex-direction: column;
    padding: 15px;
    display: inline-flex;
    min-height: 134px;
    width: 360px;
    justify-content: center;
    align-items: center;
}

.services__item-heading {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 19px;
}

.services__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    margin-top: 16px;
    text-align: center;
}

.subscribe {
    min-height: 448px;
    width: 100%;
    background-image: url(../img/subscribe-background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe__item {
    min-height: 225px;
    width: 360px;
    margin: 0px 15px;
    flex-direction: column;
    padding: 15px;
    display: inline-flex;
    min-height: 134px;
    width: 360px;
    justify-content: center;
    align-items: center;
}

.subscribe__item-formbox {
    width: 560px;
}

.subscribe__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-blue);
    margin-top: 30px;
    text-align: center;
}

.subscribe__item-text>span {
    font-style: italic;
}

.subscribe__form-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
}

.subscribe__form-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
}

.subscribe__form-field {
    display: flex;
    margin-top: 30px;
}

.subscribe__form-field--email {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    padding: 0px 13px;
    width: 256px;
    height: 49px;
    background: var(--white);
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.subscribe__form-button--subscribe {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    padding: 0px 13px;
    width: 100px;
    height: 49px;
    background: var(--dark-pink);
    color: var(--white);
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 79px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.footer__item {
    margin: 0px 3px;
    display: inline-flex;
}

/* REGISTRATION */

.registration-header {
    width: 100%;
    min-height: 148px;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.registration-header__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.registration-content {
    display: flex;
    padding: 64px 0px;
}

.registration-content__form-box {
    flex-direction: column;
    min-width: 488px;
}

.registration-content__form {
    flex-direction: column;
    max-width: 362px;
}

.registration-content__text {
    flex-direction: column;
    flex-grow: 1;
}

.registration-content__form-legend {
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.registration-content__form-input {
    min-height: 45px;
    min-width: 360px;
    border: 1px solid var(--light-grey);
    margin-bottom: 20px;
    padding-left: 13px;
    outline: none;
}

.registration-content__form-input:hover {

}

.registration-content__form-misc {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--light-grey);
    margin-bottom: 20px;
}



.registration-content__form-submit {
    padding: 0px 13px;
    width: 167px;
    height: 50px;
    background: var(--dark-pink);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
}

.registration-content__text-heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-blue);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 12px;
}

.registration-content__text-misc, .registration-content__text-list-item {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-blue);
    margin-bottom: 21px;
}

.registration-content__text-list-item {
    position: relative;
    margin-left: 25px;
}

.registration-content__text-list-item:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: -25px;
    background-image: url("../img/v-icon.svg");
    background-size: 20px 16px;
  }

  .registration-content__form-radio-label {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: var(--dark-blue);
    margin-right: 34px;
    position: relative;
  }

  .registration-content__form-radio-label:before {
      content: '';
      width: 17px;
      height: 17px;
      border: 1px solid var(--light-grey);
      border-radius: 50%;
      position: absolute;
      left: -25px;
      background-color: transparent;
  }

  input[type="radio"]:checked+label:before {
   background-color: var(--light-grey);
 }

 #registration-content__form-sex-selection {
     margin-left: 25px;
     margin-bottom: 33px;
 }

 .registration-content__form-submit {
    cursor: pointer;
}

.registration-content__form-submit:hover {
    opacity: 0.8;
}