@font-face {
    font-family: "Lato";
    src: url(../fonts/lato-300.woff) format("woff"),
    url(../fonts/lato-300.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url(../fonts/lato-400.woff) format("woff"),
    url(../fonts/lato-400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url(../fonts/lato-italic-400.woff) format("woff"),
    url(../fonts/lato-italic-400.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Lato";
    src: url(../fonts/lato-700.woff) format("woff"),
    url(../fonts/lato-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url(../fonts/lato-900.woff) format("woff"),
    url(../fonts/lato-900.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
  }