input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.breadcrumb-item {
    text-transform: uppercase;
}

.breadcrumb-item > a {
    text-decoration: none;
    @include font($thin-text, 14px, 17px, 300, normal, uppercase);
}

.breadcrumb-item.active {
    color: $dark-pink;
    font-weight: 700;
}

.carousel-control-next, .carousel-control-prev {
    width: 47px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(42, 42, 42, .15);
    width: 47px;
    height: 47px;
}

.carousel-control-prev-icon {
    background-image: url(/img/slider-arrow-left-icon.svg);
}

.carousel-control-next-icon {
    background-image: url(/img/slider-arrow-right-icon.svg);
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: $dark-pink;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

@media (max-width: $desktop-width) {
    .container {
        width: 96%;
    }
}

@media (max-width: $tablet-width) {
    .container {
        width: 92%;
    }
}