@import './variables';
@import './fonts';
@import './mixin';
@import './reset';
@import './general';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/categories';
@import './blocks/products';
@import './blocks/product';
@import './blocks/services';
@import './blocks/subscribe';
@import './blocks/footer';
@import './blocks/registration';
@import './blocks/cart';