.catalog {
    &__filter {
        margin: 51px 0px 64px 0px;
        height: 17px;
        display: flex;
        flex-wrap: wrap;
    }

    &__filter-container {
        @include flex-between;
    }

    &__filter--full {
        min-width: 360px;
        position: relative;
    }

    &__filter--fast {
        flex-grow: 1;
    }

    &__products-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
    }

    &__products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__paginator {
        padding: 12px;
        border: 1px solid $span-border;
        list-style: none;
        display: inline-flex;
        margin: 48px 0px 96px 0px;
        & > li {
            padding: 7px;
            cursor: pointer;
            @include font($light-grey, 16px, 19px, 300, normal);
            &:hover {
                color: $dark-pink;
            }
            &.catalog__paginator--active {
                color: $dark-pink;
            }
        }
       
        &--next {
            transform-origin: 50% 50%;
            transform: rotate(180deg);
        }
        &--prev, &--next {
            fill: $dark-grey;
            &:hover {
                fill: $dark-pink;
            }
        }
    }
}